.banner.section
    .container
        .container-row
            .container--banner
                .banner__wrap
                    .banner__text
                        .banner__icon-text
                            +icon('banner__icon-prev', 'planet')
                        .banner__text-wrap
                            span.banner__title Читайте новини першими !
                            span.banner__subtitle Ми в Соціальних мережах
                    .banner__social
                        .banner__icon-wrap
                            a(href="#").banner__icon-link
                                +icon('banner__icon', 'telegram')
                        .banner__icon-wrap
                            a(href="#").banner__icon-link
                                +icon('banner__icon', 'twitter')
                        .banner__icon-wrap
                            a(href="#").banner__icon-link
                                +icon('banner__icon', 'facebook')
