section.section
    .container
        .container-row
            .comments-block__header
                h3.section-title.section-title--comments коментарі
                span.comments-block__text Долучайтесь до обговорень цікавих матеріалів !
            .comments-block
                .comments-block__item
                    .comments-block__category Україна
                    .comments-block__title
                        a(href="#").comments-block__link Комітет Ради підтримав голосування особливого статусу Донбаса в четвер
                    .comments-block__meta
                        .comments-block__date 11 грудня 2019, 10:02
                        +icon('comments-block__icon', 'comments')
                        .comments-block__views-count 35
                .comments-block__item
                    .comments-block__category Події
                    .comments-block__title
                        a(href="#").comments-block__link У Києві оголосили "жовтий" рівень небезпеки
                    .comments-block__meta
                        .comments-block__date 11 грудня 2019, 10:02
                        +icon('comments-block__icon', 'comments')
                        .comments-block__views-count 35
                .comments-block__item
                    .comments-block__category За кордоном
                    .comments-block__title
                        a(href="#").comments-block__link Представник України в ТКГ: Редакція мінських угод буде готова до "Нормандії" у березні
                    .comments-block__meta
                        .comments-block__date 11 грудня 2019, 10:02
                        +icon('comments-block__icon', 'comments')
                        .comments-block__views-count 35
