mixin trends-item(img,title,text)
    .bottom-trends__item
        span.bottom-trends__category
            a(href="category-page.html").bottom-trends__category-link Суспільство
        a(href="#").bottom-trends__link
            .img-overlay
                img(src=img).bottom-trends__img
            h4.bottom-trends__title=title
        p.bottom-trends__text=text



section.section
    .container
        h3.section-title
            a(href="#").section-title__link В тренді у читачів
        .container-row
            .top-block.top-block--trends
                .top-block__item
                    a(href="#").top-block__link.img-overlay
                        img(src="img/trends-big.jpg" alt="").top-block__img
                .top-block__item
                    h4.top-block__title
                        a(href="").top-block__title-link Відпочинок для президента: як команда Зеленського поєднує роботу з туризмом
                    +icon('top-block__icon','actual-dots')
                    p.top-block__description Вилітаючи додому, він вже мав у наявності медіамоніторинг і знав, що на Батьківщині його роботу в Парижі сприйняли вельми позитивно. Навіть переконані публічні критики чинного глави держави, як правило, визнавали: “зради” у “Нормандії” не сталося.
                    span.top-block__date 11 грудня 2019, 10:02
            .bottom-block
                +trends-item('img/trends-1.jpg', '"Слуга народу" в Росії: після вирізаного жарту про Путіна серіал зняли з ефіру', 'Російський телеканал "ТНТ" вирізав з українського серіалу "Слуга народу" жарт про президента Володимира Путіна і в той же день скасував показ наступних серій.')
                +trends-item('img/trends-2.jpg', 'Народовладдя від Слуг: про що поговорити за новорічним столом', 'Невдовзі українські родини зустрінуться за новорічними та різдвяними столами. Після перших тостів за здоров’я та свято, традиційно розгорнеться політична дискусія. Підвищення цін на газ')
                +trends-item('img/trends-3.jpg', 'НАЗК звернеться до правоохоронців через працівників, що нишпорили в топ-деклараціях', 'Національне агентство з питань запобігання та протидії корупції звернеться до правоохоронних органів із заявою про несанкціоноване втручання працівників агентства у Реєстр декларацій.')
                +trends-item('img/trends-4.jpg', 'Football Leaks-2: Суркіси через офшори купили в "Динамо" футболістів на $324 млн', 'Схема київського "Динамо" з купівлі та продажу футболістів через офшорну компанію Newport допомагала власникам клубу уникати сплати податків в Україні.')

