section.section-video
    .container
        h3.section-title
            a(href="#").section-title__link Відеофакти
        .container-row
            .top-block--video-wrap
                .top-block__item.top-block--video
                    .img-overlay
                        a(href="#").top-block__link
                            .video-icon__wrap
                                +icon('video-icon','video')
                            img(src="img/video.jpg" alt="").top-block__img
                .top-block__item.top-block__item--video-text
                    h4.top-block__title.top-block__title--video
                        a(href="").top-block__title-link Гончарук пояснив, чому гривня зміцнюється, а ціни не падають
                    +icon('top-block__icon','camera')
                    p.top-block__description.top-block__description--video Прем’єр-міністр Олексій Гончарук заявляє, що у зв’язку і зміцненням гривні повинні швидше падати ціни. <br>Джерело: брифінг Гончарука
                    span.top-block__date.top-block__date--video 11 грудня 2019, 10:02
                .more-news.more-news--video
                    .more-news__wrap
                        a(href="#").more-news__link Всі відео
                        +icon('more-news__icon', 'rightarrow')
