section.section.section--actual
    .container
        h3.section-title
            a(href="#").section-title__link Актуально
        .container-row
            .top-block
                .top-block__item
                    a(href="#").top-block__link.img-overlay
                        img(src="img/actual-big.jpg" alt="").top-block__img
                .top-block__item
                    h4.top-block__title
                        a(href="").top-block__title-link Російський пропагандист відповів Зеленському на запрошення відвідати Донбас
                    +icon('top-block__icon','actual-dots')
                    p.top-block__description Російський пропагандист Володимир Соловйов відповів на слова президента Володимира Зеленського, що той в Україні не буває, але постійно про неї говорить. Соловйов нагадав, що йому заборонений в’їзд до України.
                    span.top-block__date 11 грудня 2019, 10:02
            .bottom-block
                .bottom-block__item(style=`background-image:url('img/actual-1.jpg');`)
                    .bottom-block__content
                        span.bottom-block__category Політика
                        h4.bottom-block__title
                            a(href="#").bottom-block__link 11 інфраструктурних проєктів, які можуть зробити Київ кращим
                        span.bottom-block__date 11 грудня 2019, 10:02
                .bottom-block__item(style=`background-image:url('img/actual-2.jpg');`)
                    .bottom-block__content
                        span.bottom-block__category Політика
                        h4.bottom-block__title
                            a(href="#").bottom-block__link Лондон вирішить долю боргу Януковича: розклади перед вирішальним судовим рішенням
                        span.bottom-block__date 11 грудня 2019, 10:02
                .bottom-block__item(style=`background-image:url('img/actual-3.jpg');`)
                    .bottom-block__content
                        span.bottom-block__category Політика
                        h4.bottom-block__title
                            a(href="#").bottom-block__link Фінський політичний рекорд: чим здатна вразити наймолодша прем'єрка Європи
                        span.bottom-block__date 11 грудня 2019, 10:02
                .bottom-block__item(style=`background-image:url('img/actual-1.jpg');`)
                    .bottom-block__content
                        span.bottom-block__category Політика
                        h4.bottom-block__title
                            a(href="#").bottom-block__link 11 інфраструктурних проєктів, які можуть зробити Київ кращим
                        span.bottom-block__date 11 грудня 2019, 10:02









