header.header
    .search-top__wrap#popup
        .search-top__form
            input(type="search" name="s" placeholder="Search on site...").search-top__form-input
            button(type="submit").search-top__form-button Search
    .search-top__overlay
    .header-top-bg#header-top
        .container
            .header-top
                .header-top__burger
                    span
                .header-top__logo
                    img(src="img/logo.png" alt="logo")
                    span Найактуальніші новини країни та світу
                nav.header-top__nav.nav
                    ul.nav__list
                        li.nav__item
                            a(href="/").nav__link.current-menu-item Головна
                        li.nav__item
                            a(href="blog-news.html").nav__link Новини
                        li.nav__item
                            a(href="category-page.html").nav__link Події в Україні
                        li.nav__item
                            a(href="category-page.html").nav__link За кордоном
                        li.nav__item
                            a(href="category-page.html").nav__link Медіа
                .header-top__time
                    span Середа 11.12.2019
                .header-top__search.search-top
                    +icon('header-top__search-icon', 'search')
    .header-bottom#header-bottom
        .container
            span #Нормандський формат  #Зеленський

