mixin tags-item(text)
    li.article-tags__item
        a(href="#!").article-tags__link=text


.container
    .container-row
        .content-page__block
            article.article-post
                h1.article-post__title Мер Черкас дорікнув Зеленському через корупцію "слуг народу" й пообіцяв опір
                .article-post__meta
                    .article-post__date
                        +icon('article-clock','clock')
                        span Субота, 2 Травня 2020, 14:51
                    .article-post__views
                        +icon('views-icon', 'views')
                        span 25452 Перегляди
                img(src="img/single-main.jpg").article-post__img
                p <strong>Черкаський міський голова Анатолій Бондаренко звернувся до президента України Володимира Зеленського, він нагадав очільнику держави про корупційні скандали навколо оточення глави держави й застеріг від тиску на місто.</strong>
                p Джерело: відеозвернення Бондаренка у Facebook
                p Пряма мова: "Пане президенте, я думав, коли ви переможете – в країні буде закон один для всіх… Прийде весна і будемо саджати. Тільки не міських голів, а корупціонерів. Я думав, що ви будете саджати за кнопкодавство, я думав, що ви будете садити своїх соратників за "Велюр"… І ви знаєте, ми готові відповідати, але тільки після ваших однопартійців. <br>А зараз, як у тому фільмі про Крим: Черкаси будуть чинити опір. Пам’ятайте, Черкаси – вільне козацьке місто, і якщо потрібно об’єднати Україну, ми об’єднаємо Україну. І пам’ятайте – ніхто в житті не здолав Черкаси!"
                .article-post-inner
                    h3.article-post-inner__title Вам буде Цікаво:
                    a(href="#!").article-post-inner__wrap
                        .img-overlay
                            img(src="img/single-content.jpg").article-post-inner__img
                        h4.article-post-inner__link 120 тисяч смертей: Зеленський назвав можливі наслідки скасування карантину
                p Деталі: Стосовно "Велюру", мер Черкас мав на увазі елітний ресторан нардепа Миколи Тищенка (фракція "Слуга народу"), який працює попри карантин і його відвідують відомі в політичних колах люди. <br>Варто зазначити, що у Черкаській області з початку пандемії виявили 304 випадки захворювання на Covid-19, із них 63 людини вже одужали. Це середній показник по Україні. Приміром, у Чернівецькій області коронавірус діагностували вже у 1 745 осіб, у Києві у 1 494-х, а Франківщина та Тернопільщина наближаються до позначки у тисячу хворих. <br>Усю динаміку пандемії "Українська правда" відслідковує тут.
                p Деталі: Стосовно "Велюру", мер Черкас мав на увазі елітний ресторан нардепа Миколи Тищенка (фракція "Слуга народу"), який працює попри карантин і його відвідують відомі в політичних колах люди. <br>Варто зазначити, що у Черкаській області з початку пандемії виявили 304 випадки захворювання на Covid-19, із них 63 людини вже одужали. Це середній показник по Україні. Приміром, у Чернівецькій області коронавірус діагностували вже у 1 745 осіб, у Києві у 1 494-х, а Франківщина та Тернопільщина наближаються до позначки у тисячу хворих. Усю динаміку пандемії "Українська правда" відслідковує тут.
                p Черкаський міський голова Анатолій Бондаренко звернувся до президента України Володимира Зеленського, він нагадав очільнику держави про корупційні скандали навколо оточення глави держави й застеріг від тиску на місто. <br>Джерело: відеозвернення Бондаренка у Facebook <br>Пряма мова: "Пане президенте, я думав, коли ви переможете – в країні буде закон один для всіх… Прийде весна і будемо саджати. Тільки не міських голів, а корупціонерів. Я думав, що ви будете саджати за кнопкодавство, я думав, що ви будете садити своїх соратників за "Велюр"… І ви знаєте, ми готові відповідати, але тільки після ваших однопартійців. <br>А зараз, як у тому фільмі про Крим: Черкаси будуть чинити опір. Пам’ятайте, Черкаси – вільне козацьке місто, і якщо потрібно об’єднати Україну, ми об’єднаємо Україну. І пам’ятайте – ніхто в житті не здолав Черкаси!"
            .article-tags
                span.article-tags__title Теми:
                ul.article-tags__list
                    +tags-item('#Онлайн')
                    +tags-item('#Онлайн трансляція')
                    +tags-item('#Київ')
                    +tags-item('#Маріїнський парк')
                    +tags-item('#Офіс президента України')
                    +tags-item('#Офіс президента України')
            .articles-proposition


        .content-page__aside



















































