@import "partials/mixins";
@import "partials/params";
@import "partials/elements";

.header-top {

  &__burger {
    flex-basis: 34px;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 4;

    span {
      display: block;
      background: $white;
      height: 3px;
      border-radius: 4px;
      width: 28px;
      margin-bottom: 6px;
      position: relative;
      transition-property: background-color;
      transition-duration: .3s;

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        background: $white;
        bottom: 8px;
        width: 36px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        background: $white;
        top: 8px;
        width: 16px;

      }

      &:before, &:after {
        border-radius: 4px;
        transition: transform .25s ease-in-out;
      }

    }
  }
}

.is-active span {
  background-color: transparent;

  &:after {
    transform: rotate(45deg);
    width: 36px;
    top: 40%;
  }

  &:before {
    transform: rotate(-45deg);
    top: 40%;
  }
}
















































































